.card {
    cursor: pointer;
}

.count {
    position: relative;
}

.count-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
    background: transparent;
}

.count-enter.count-enter-active {
    opacity: 1;
    background: rgba(255, 0, 0, 0.31);
}

.count-appear {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.count-appear.count-appear-active {
    opacity: 1;
}
